[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
	ignore = all
[submodule "raygui"]
	path = raygui
	url = https://github.com/raysan5/raygui.git
[submodule "pigpio"]
	path = pigpio
	url = https://github.com/joan2937/pigpio.git
